
.logo{
    position: relative;
    left: 3%;
    margin: 1px 10px;
   
}
.bounce_img {
  display: flex;
}
.logo img{
   width: 50px;
   height: 50px;
   /* filter: drop-shadow(2px); */
   /* filter: contrast(200%); */
   filter: drop-shadow(16px 16px 20px rgb(255, 4, 4));
}
.logotexts p{
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-size: 1rem;
   margin: 0px;
}
.logotexts{
  padding-left: 13px ;
  padding-top: 4px;
}
.header{
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 10px 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 100px;
    position: absolute;
    width: 100%;
  
    
  }
  @keyframes bounce-animation {
    16.65% {
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
   
    100% {
      transform: translateY(0);
    }
  }

  .bounce_img img {
    animation-name: bounce-animation;
    animation-duration: 10s;
  }
  
  @media screen and (max-width: 600px) {
    .logotexts {
    display: none;
    }
  }